$primary-color: #234442; /* dark paint green */
$secondary-color: #e29ea9; /* light pink */
$secondary-color-2: #0f2117; /* dark green */
$logo-pink: #a77374; /* dark pink */
$logo-yellow: #d8bc73; /* mustard yellow */
$main-background-color: #fff; /* white */
$light-purple: #d4c2e7;
$light-gray: #d6d6d6;
$black: #000;
$teal: #22bdc4;
$body-font: "Lato";
$header-font: "PT sans";
$body-font-size: 16px;
$body-font-small: 14px;
$icon-size: 12px;
$header-font-size: 30px;
$secondary-header-font-size: 20px;
$nav-font-size: 18px;
$body-font-weight: 400;
$header-font-weight: 700;
$button-font: #fff;
$shadow-color: hsl(176, 32%, 20%, 0.9);
$shadow-hover: hsl(176, 32%, 20%, 0.7);
* {
  box-sizing: border-box; /* Makes all elements fit on screen */
}

body {
  background-color: $main-background-color;
  font-family: $body-font, sans-serif;
  font-weight: 300;
  font-size: $body-font-size; /* Sets the font size to 16pz */
  line-height: 1.6 !important; /* Sets the line-height to 1.6 */
  height: 100vh; /* gives body a height equivalent to viewport size */
  display: flex; /* allows container footer to have margin:auto and be at bottom of page */
  flex-direction: column; /* makes container a column */
  align-items: center; /* centers everything horizontally */
}

.container {
  margin: auto !important;
}

h1 {
  font-family: $header-font, sans-serif;
  font-size: $header-font-size;
  font-weight: $header-font-weight;
  font-variant: normal;
  margin: 1rem 0 !important;
}

h2 {
  font-family: $header-font, sans-serif;
  font-size: $secondary-header-font-size;
  font-weight: $header-font-weight;
  font-variant: normal;
  margin: 1rem 0 !important;
}

a {
  color: $black;
  text-decoration: underline;
}

a:hover,
a:focus {
  /* Overlining when hovering over a link */
  text-decoration: none;
  color: $black !important;
}

a:active {
  /* selceted link */
  color: $logo-yellow; /* yellow */
}

span {
  font-style: italic;
}

button,
.button,
.form-group input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85px;
  height: 85px;
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: $body-font, sans-serif;

  /* styles the background color, font color and text decoration (underline, etc. of the button */
  background-color: $primary-color;
  color: $button-font;
  filter: drop-shadow(0px 5px 8px $shadow-color);
  /* adds spacing to the button (this will be discussed later */
  padding: 10px 15px;
  margin: 10px 5px;
  border-radius: 50%;
  will-change: transform; // tells browser we will transform for slicker CPU
  transition: transform 300ms ease-in 0s, filter 300ms ease-in 0s;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  // border-bottom: 2px solid rgba(0, 0, 0, 0.3);

  a {
    color: $button-font;
    text-decoration: none;
    text-align: center;
    line-height: 1.3;
    &:hover {
      color: $button-font !important;
    }
    &:focus {
      color: $button-font !important;
    }
  }
}
.sm-button {
  width: 60px;
  height: 60px;
}

.form-group input[type="submit"] {
  box-shadow: 1px 2px 5px 1px $black;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
.form-group input[type="submit"]:hover,
.form-group input[type="submit"]:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 70% */
  text-decoration: none;
  transition: transform 150ms ease-in-out 0s, filter 150ms ease-in-out 0s;
  transform: translateY(-5px);
  filter: drop-shadow(0 15px 8px $shadow-hover);
}
