$primary-color: #234442; /* dark paint green */
$secondary-color: #e29ea9; /* light pink */
$secondary-color-2: #0f2117; /* dark green */
$logo-pink: #a77374; /* dark pink */
$logo-yellow: #d8bc73; /* mustard yellow */
$main-background-color: #fff; /* white */
$light-purple: #d4c2e7;
$light-gray: #d6d6d6;
$black: #000;
$teal: #22bdc4;
$body-font: "Lato";
$header-font: "PT sans";
$body-font-size: 16px;
$body-font-small: 14px;
$icon-size: 12px;
$header-font-size: 30px;
$secondary-header-font-size: 20px;
$nav-font-size: 18px;
$body-font-weight: 400;
$header-font-weight: 700;

* {
  box-sizing: border-box; /* Makes all elements fit on screen */
}

/* about page container */
.about {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto;
  flex-direction: row-reverse;
}

/* about page portrait */
.about__portrait {
  max-width: 320px;
  margin-right: 30px;
  margin-left: 30px;
}

#about__text {
  margin: 0 30px;
  flex: 1 1 200px;
}

#skill__header {
  color: #fff;
  background-color: $primary-color;

  text-align: right;
  padding-right: 1rem;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0.3rem 0.8rem;
}

.skill__item {
  p {
    display: none;
  }
}

/* <p> in about container */
.about {
  p {
    text-align: left;
    br {
      margin-top: 0.5rem;
    }
  }
}
.photo-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-resume__button {
  margin-top: 1rem;
}

#about-resume__sm-button {
  display: none;
}

/* ====================================================
        Screen sizes between 500px and 750px
  ====================================================== */
@media all and (max-width: 1000px) {
  /* about page container */
  .about {
    flex-direction: column-reverse;
    width: 90%;
    margin: 20px auto; /* centers box in middle of page */
    text-align: center;
  }

  /* portrait on about page */
  .about__portrait {
    max-width: 300px;
    padding: 0 10px;
    margin-right: 0;
    margin-left: 0;
  }

  #about__text {
    margin: 0;
  }

  #about-resume__button {
    display: none;
  }

  #about-resume__sm-button {
    display: flex;
    justify-content: center;
  }

  .skill__item {
    p {
      display: block;
      font-size: $icon-size;
      margin: 0;
    }
  }
}
