$primary-color: #234442; /* dark paint green */
$secondary-color: #e29ea9; /* light pink */
$secondary-color-2: #0f2117; /* dark green */
$logo-pink: #a77374; /* dark pink */
$logo-yellow: #d8bc73; /* mustard yellow */
$main-background-color: #fff; /* white */
$light-purple: #d4c2e7;
$light-gray: #d6d6d6;
$black: #000;

* {
  box-sizing: border-box; /* Makes all elements fit on screen */
}

.contact-info {
  padding: 30px 0;
  margin-bottom: 10rem;
  text-align: center;
  color: $black;
}

.contact-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social-icons {
  fill: $black;
  margin: 0 2rem;
}

#email {
  background-color: #dbcae9;
}

#twitter {
  background-color: #83b7ed;
}

#github {
  background-color: #c8e9bc;
}

#linked-in {
  background-color: #f4a0a0;
}

/* ====================================================
        Screen sizes below 415px
  ====================================================== */
@media all and (max-width: 415px) {
  .contact-icons {
    align-items: center;
  }
  .social-icons {
    margin: auto;
  }
}
