:root {
  --primary-color: #234442; /* dark paint green */
  --secondary-color: #e29ea9; /* light pink */
  --secondary-color-2: #0f2117; /* dark green */
  --logo-pink: #a77374; /* dark pink */
  --logo-yellow: #d8bc73; /* mustard yellow */
  --main-background-color: #fff; /* white */
  --light-purple: #d4c2e7;
  --light-gray: #d6d6d6;
  --black: #000;
  --teal: #22bdc4;
  --body-font: "Lato";
  --header-font: "PT sans";
  --body-font-size: 16px;
  --body-font-small: 14px;
  --icon-size: 12px;
  --header-font-size: 30px;
  --secondary-header-font-size: 20px;
  --nav-font-size: 18px;
  --body-font-weight: 400;
  --header-font-weight: 700;
}

* {
  box-sizing: border-box; /* Makes all elements fit on screen */
}

body {
  background-color: var(--main-background-color);
  font-family: var(--body-font), sans-serif;
  font-weight: 300;
  font-size: var(--body-font-size); /* Sets the font size to 16pz */
  line-height: 1.6; /* Sets the line-height to 1.6 */
  height: 100vh; /* gives body a height equivalent to viewport size */
  display: flex; /* allows container footer to have margin:auto and be at bottom of page */
  flex-direction: column; /* makes container a column */
  align-items: center; /* centers everything horizontaly */
}

.container {
  width: 90vw;
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-family: var(--header-font), sans-serif;
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  font-variant: normal;
}

h2 {
  font-family: var(--header-font), sans-serif;
  font-size: var(--secondary-header-font-size);
  font-weight: var(--header-font-weight);
  font-variant: normal;
}

a {
  color: var(--black);
  text-decoration: underline;
}

a:hover,
a:focus {
  /* Overlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selceted link */
  color: var(--logo-yellow); /* yellow */
}

/* Header container */
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  
}

/* logo {jb} */
.logo {
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
  width: 100%;
  max-width: 65px;
  object-fit: contain;
}

/* navigation and logo top */
.page-header__item {
  flex: 0 1 200px; /* sets sizes for logo and nav list */
}

/* target is last item in navigation list */
.page-header__item:last-child {
  flex-grow: 1; /* allows to take up rest of space available */
  text-align: right; /* makes right aligned */
}

/* nav. list */
.navigation-list {
  list-style-type: none; /* removes bullet points */
  text-decoration: none;
  margin-right: 20px;
  font-weight: var(--header-font-weight);
  font-family: var(--header-font), sans-serif;
  font-size: var(--nav-font-size);
}

/* targets each navigation iteam */
.navigation-list li {
  display: inline-block; /* aligns nav list into row */
  margin-left: 15px; /* puts 15px margins(spaces) between list iteams */
}

.navigation-list__item {
  text-decoration: none; /* removes underline from nav list names */
}

.navigation-list__item:hover,
.havigation-list__item:focus {
  text-decoration: overline; /* applies overline to nav bar when hovered over */
}

.navigation-list__item--active {
  text-decoration: overline; /* Overlining name the page its on */
}