$primary-color: #234442; /* dark paint green */
$secondary-color: #e29ea9; /* light pink */
$secondary-color-2: #0f2117; /* dark green */
$logo-pink: #a77374; /* dark pink */
$logo-yellow: #d8bc73; /* mustard yellow */
$main-background-color: #fff; /* white */
$light-purple: #d4c2e7;
$light-gray: #d6d6d6;
$black: #000;
$teal: #22bdc4;
$body-font: "Lato";
$header-font: "PT sans";
$body-font-size: 16px;
$body-font-small: 14px;
$icon-size: 12px;
$header-font-size: 30px;
$secondary-header-font-size: 20px;
$nav-font-size: 18px;
$body-font-weight: 400;
$header-font-weight: 700;

* {
  box-sizing: border-box; /* Makes all elements fit on screen */
}

/* Header container */
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
}

/* logo {jb} */
.logo {
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
  width: 100%;
  max-width: 65px;
  object-fit: contain;
}

/* navigation and logo top */
.page-header__item {
  flex: 0 1 200px; /* sets sizes for logo and nav list */
}

/* target is last item in navigation list */
.page-header__item:last-child {
  flex-grow: 1; /* allows to take up rest of space available */
  text-align: right; /* makes right aligned */
}

/* nav. list */
.navigation-list {
  list-style-type: none; /* removes bullet points */
  text-decoration: none;
  font-weight: $header-font-weight;
  font-family: $header-font, sans-serif;
  font-size: $nav-font-size;
}

.navigation-list__item {
  text-decoration: none; /* removes underline from nav list names */
  display: inline-block; /* aligns nav list into row */
  margin-left: 15px; /* puts 15px margins(spaces between list iteams */
}

.navigation-list__item:hover,
.navigation-list__item:focus {
  text-decoration: overline; /* applies overline to nav bar when hovered over */
}

/* BOOTSTRAP OVERRIDE */

.navbar-nav {
  justify-content: flex-end;
}

/* ===================================
       Screen sizes up to 329px
  =================================== */
@media all and (max-width: 329px) {
  .navigation-list {
    margin-right: 0;
    font-size: 16px;
  }
}
/* ===================================
       Screen sizes up to 500px
  =================================== */
@media all and (max-width: 500px) {
  .page-header {
    flex-direction: column;
    align-items: center;
  }

  .page-header__item {
    flex: none;
    margin: 10px auto;
  }
  .navbar-nav {
    justify-content: center;
  }
  .logo {
    margin-top: 20px;
    margin-bottom: 5px;
    max-width: 65px;
  }
}
