/* footer on all */
.page-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 1rem;
  align-items: center;
}

.social-media__icon {
  margin: 0 2rem;
}

/* ====================================================
        Screen sizes below 415px
  ====================================================== */
@media all and (max-width: 415px) {
  .social-media__icon {
    margin: 0 1rem;
  }
}
