$primary-color: #234442; /* dark paint green */
$secondary-color: #e29ea9; /* light pink */
$secondary-color-2: #0f2117; /* dark green */
$logo-pink: #a77374; /* dark pink */
$logo-yellow: #d8bc73; /* mustard yellow */
$main-background-color: #fff; /* white */
$light-purple: #d4c2e7;
$light-gray: #d6d6d6;
$black: #000;
$teal: #22bdc4;
$body-font: "Lato";
$header-font: "PT sans";
$body-font-size: 16px;
$body-font-small: 14px;
$icon-size: 12px;
$header-font-size: 30px;
$secondary-header-font-size: 20px;
$nav-font-size: 18px;
$body-font-weight: 400;
$header-font-weight: 700;

* {
  box-sizing: border-box; /* Makes all elements fit on screen */
}

/* Work page h1 */
.work-header {
  text-align: center;
}

.grid {
  display: grid;
  justify-items: center;
  /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
  grid-template-columns: 1fr;
  grid-gap: 120px;
  margin: 2.5rem;
}

.grid__item {
  display: flex;
  max-width: 1200px;
}

.reverse {
  flex-direction: row-reverse;
}

.grid__content h2 {
  margin: 0.8rem auto;
}

.grid__content p {
  margin: 0.8rem auto;
  padding-right: 2rem;
}

.grid__content-reverse {
  display: inline-flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
}

.grid__content-reverse h2,
p {
  margin: 0.8rem 0;
}

.p_reverse {
  padding-left: 2rem;
}

.work_langs {
  border-radius: 15px;
  padding-left: 0.5rem;
  width: 70%;
  background-color: $primary-color;
  color: #fff;
}

.work_langs p {
  padding: 0.8rem;
}

.work_langs-reverse {
  border-radius: 15px;
  padding-right: 0;
  padding-right: 0.5rem;
}

.work_langs-reverse p {
  margin: 0 auto;
  padding: 0.8rem;
}

.grid__link {
  display: inline-flex;
  align-items: center;
  padding-left: 0.5rem;
}

.grid__link-reverse {
  display: inline-flex;
  flex-direction: row-reverse;
  margin-top: 0.8rem;
  align-items: center;
  padding-right: 0.5rem;
}

.grid__link a {
  margin-right: 1rem;
}

.grid__link-reverse a {
  margin-left: 1rem;
}

.grid__img-sm {
  display: none;
  transition: transform 0.3s;
}

.grid__img-sm {
  img {
    cursor: pointer;
    border-radius: 10px;
  }
}

.grid__img-reverse {
  justify-content: center;
  border-radius: 20px;
}
.grid__img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 500px;
  transition: transform 0.3s;
  border-radius: 20px;
}

.angular {
  background-color: #300551;
  filter: drop-shadow(1px 1px 3px darken(#300551, 10%));
}
.angular-img {
  background-color: #dbcae9;
  filter: drop-shadow(1px 1px 3px darken(#dbcae9, 50%));
}

.pokemon {
  background-color: #576b5a;
  filter: drop-shadow(1px 1px 3px darken(#576b5a, 10%));
}

.pokemon-img {
  background-color: #c8e9bb;
  filter: drop-shadow(1px 1px 3px darken(#c8e9bb, 50%));
}

.api {
  background-color: #185fa7;
  filter: drop-shadow(1px 1px 3px darken(#185fa7, 10%));
}

.api-img {
  background-color: #83b7ed;
  filter: drop-shadow(1px 1px 3px darken(#83b7ed, 50%));
}

.react {
  background-color: #373737;
  filter: drop-shadow(1px 1px 3px darken(#373737, 10%));
}

.react-img {
  background-color: #aeaeae;
  filter: drop-shadow(1px 1px 3px darken(#aeaeae, 50%));
}

.meet {
  background-color: #d85e5e;
  filter: drop-shadow(1px 1px 3px darken(#d85e5e, 20%));
}

.meet-img {
  background-color: #f4a0a0;
  padding: 1rem 0;
  filter: drop-shadow(1px 1px 3px darken(#f4a0a0, 50%));
}

.chat {
  background-color: #5f675a;
  filter: drop-shadow(1px 1px 3px darken(#5f675a, 10%));
}

.chat-img {
  background-color: #e9f3e0;
  filter: drop-shadow(1px 1px 3px darken(#e9f3e0, 50%));
}

.grid__img {
  img {
    cursor: pointer;
    width: 70%;
    border-radius: 10px;
  }
}

.grid__img:hover {
  transform: scale(1.1);
}

.grid__img-sm:hover {
  transform: scale(1.05);
}

.grid__img > div {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.chat-app_height {
  width: 32% !important;
}

.work_links {
  display: flex;
  justify-content: space-around;
}

/* ===================================
       Screen sizes up to 500px
  =================================== */
@media all and (max-width: 500px) {
  .work_langs {
    width: 95%;
  }
}
/* ===================================
         Screen sizes up to 604px
    =================================== */
@media all and (max-width: 604px) {
  .grid {
    margin: 1rem;
  }
}
/* ====================================================
        Screen sizes between 605px and 1000px
  ====================================================== */
@media all and (min-width: 605px) and (max-width: 1000px) {
  .grid {
    margin: 3rem;
  }
}

/* ===================================
         Screen sizes up to 1000px
    =================================== */
@media all and (max-width: 1000px) {
  .grid {
    grid-gap: 70px;
  }

  .grid__item {
    flex-direction: column;
  }

  .grid__content p {
    padding-right: 0;
  }

  .p_reverse {
    padding-left: 0;
  }

  .reverse {
    flex-direction: column;
  }
  .grid__img-sm {
    display: flex;
    /* margin: auto 0; */
    /* background-color: #d8bc73; */
    flex: 0 1;
    margin: 0.8rem 0.8rem 1.5rem 0.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  .grid__img {
    display: none;
  }

  .grid__img-sm > img {
    width: 80%;
    padding: 2rem 0;
  }

  .grid__img-sm > div {
    width: 70%;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
